@import 'tailwindcss';

@theme {
    --font-family-custom: "Poppins", sans-serif;
}

@layer base {
    body {
        font-family: theme(--font-family-custom);
    }
}

.navLinks {
    @apply text-gray-600 px-5 py-2.5 transition-colors duration-200 font-medium rounded;
}